<!DOCTYPE html>
<html lang="en">
<head>
    <title>USERS</title>
    <link rel="stylesheet" type="text/css" href="../css/background.css">
    <link rel="stylesheet" type="text/css" href="../css/users.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bb4f511674.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-dash">
    <nav class="top-nav">
        <img class="img-log" src="../img/logo.svg">
        <ul class="nav-menu">
            <li><a href="dashboard.html" class="nav-link button"><i class="fa-solid fa-table"></i> Dashboard</a></li>
            <li><a href="snmp.html" class="nav-link button"><i class="fa-solid fa-desktop"></i> SNMP Overview</a></li>
            <li><a href="configuration.html" class="nav-link button"><i class="fa-solid fa-wrench"></i> Configuration</a></li>
            <li><a href="users.html" class="nav-link button"><i class="fa-solid fa-users"></i> Users</a></li>
        </ul>
        <span class="nav-text">name</span>
        
        <nav class="user-options">
            <div class="options">
                <button id="userButton"><i class="fa-solid fa-circle-user"></i></button>
                <ul class="options-menu" id="optionsMenu">
                    <li><a href="#" class="option-button"><i class="fa-solid fa-gear"></i>Options</a></li>
                    <li><a href="#" class="option-button"><i class="fa-solid fa-question"></i>About</a></li>
                    <li><a href="login.html" class="option-button"><i class="fa-solid fa-power-off"></i>Logout</a></li>
                </ul>
            </div>
        </nav>
    </nav>
    <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="page-title"><h1>Users</h1></div>
    <script src="../js/menu.js"></script>
    <script src="../js/options.js"></script>
</div>
</body>
</html>
