.container-snmp-devices {
    width: 90%;
    margin: 10vh auto;
}

.snmp-management {
    margin-top: 20px;
}

.action-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px; /* Dodany większy odstęp */
    border-radius: 10px; /* Zaokrąglone rogi */
}

.action-button:hover {
    background-color: rgb(161, 161, 161); /* Kolor podświetlenia po najechaniu */
}

/* Ustawienie grid layout dla nagłówka tabeli i elementów urządzeń */
.table-header, .device-item {
    display: grid;
    grid-template-columns: 10% 8% 10% 10% 15% 15% 20% ; /* Definiuje szerokości kolumn */
    align-items: center;
    gap: 8px;
    padding: 8px;
}

/* Styl dla nagłówka tabeli */
.table-header {
    background-color: #555;
    border-radius: 15px;
    margin-bottom: 1.5em;
    font-weight: bold;
    color: white;
}

/* Styl dla elementów urządzeń */
.device-item {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    font-weight: bold;
    padding: 8px;
    position: relative;
}

/* Styl dla przycisków akcji */
.editButton, .deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.editButton {
    position: absolute;
    right: 40px; /* Odsunięcie od prawej krawędzi */
}

.deleteButton {
    position: absolute;
    right: 10px; /* Odsunięcie od prawej krawędzi */
}

.editButton:hover, .deleteButton:hover {
    color: red;
}

/* Upewnienie się, że kolumny są wyśrodkowane */
.title, .device-info, .title-phone, .device-info-phone {
    text-align: center;
}

/* Styl dla przycisku "eye" */
.eye-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.eye-icon:hover {
    color: red;
}

/* Styl dla większego formularza */
.device-form {
    background-color: #727272;
    border: 1px solid #000000;
    border-radius: 15px;
    padding: 40px; /* Zwiększenie paddingu */
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 20%; /* Zwiększenie szerokości formularza */
}

.device-form form {
    display: flex;
    flex-direction: column;
}

.device-form input, .device-form select {
    padding: 8px;
    margin-top: 10px; /* Dodanie większego marginesu */
    font-size: 16px; /* Zwiększenie rozmiaru czcionki */
    border-radius: 8px; /* Zaokrąglenie pól formularza */
    border: 1px solid #ccc;
}

.device-form input::placeholder, .device-form select::placeholder {
    color: #666; /* Delikatnie ciemniejszy kolor dla placeholderów */
    border-radius: 8px; /* Zaokrąglenie placeholderów */}

.device-form button {
    margin-top: 1.5vh;
    padding: 10px;
    font-size: 16px; /* Zwiększenie rozmiaru czcionki */
    cursor: pointer;
    border: 2px solid #000; /* Dodanie obramowania */
    border-radius: 8px; /* Zaokrąglenie krawędzi */
    background-color: white; /* Białe tło dla przycisku */
    color: black; /* Czarny tekst */
    width: 50%;
    margin-left: 5vw;
}

.device-form button:hover {
    background-color: rgb(161, 161, 161); /* Zmiana koloru po najechaniu */
    color: white; /* Zmiana koloru tekstu po najechaniu */
}

.eye-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.eye-icon:hover {
    color: red;
}

@media only screen and (max-width: 820px) {
    .container-snmp-devices {
        width: 90%; /* Szerokość kontenera dostosowana do mniejszych ekranów */
        font-size: small;
    }

    .device-info-phone, .title-phone {
        display: none;
    }

    .action-button {
        padding: 12px 24px; /* Zwiększona wielkość przycisku */
        font-size: 20px; /* Zmniejszona wielkość tekstu przycisku */
    }

    .title-phone, .title, .device-info-phone, .device-info {
        width: auto; /* Ustawienie szerokości na automatyczną dla wersji mobilnej */
        text-align: center; /* Wyśrodkowanie tekstu */
        word-wrap: break-word; /* Dodanie wrapa dla długiego tekstu */
    }

    .device-info-phone, .device-info {
        flex: 1; /* Ustawienie flex na 1, aby kolumny zajmowały dostępne miejsce */
    }

    .table-header {
        padding-right: 8em;
    }

    .device-form {
    width: 60%;
    }

    .device-form button{
    width: 80%;
    margin-left: 6vw;
    }

    .table-header, .device-item {
        display: grid;
        grid-template-columns: 30% 20% 30%; /* Definiuje szerokości kolumn */
        gap: 5px;
        align-items: center;
        padding: 8px;
    }
}