.container-snmp-devices {
    width: 90%;
    margin: 10vh auto;
}

.snmp-management {
    margin-top: 20px;
}

.action-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px; /* Dodany większy odstęp */
    border-radius: 10px; /* Zaokrąglone rogi */
}

.action-button:hover {
    background-color: rgb(161, 161, 161); /* Kolor podświetlenia po najechaniu */
}

/* Ustawienie grid layout dla nagłówka tabeli i elementów urządzeń */
.table-header, .device-item {
    display: grid;
    grid-template-columns: 10% 10% 15% 10% 10% 7% 20%; /* Definiuje szerokości kolumn */
    align-items: center;
    gap: 20px;
    padding: 8px;
}

/* Styl dla nagłówka tabeli */
.table-header {
    background-color: #555;
    border-radius: 15px;
    margin-bottom: 1.5em;
    font-weight: bold;
    color: white;
}

/* Styl dla elementów urządzeń */
.device-item {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    font-weight: bold;
    padding: 8px;
    position: relative;
    margin-bottom: 1vh;
}

/* Styl dla przycisków akcji */
.editButton, .deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.editButton {
    position: absolute;
    right: 40px; /* Odsunięcie od prawej krawędzi */
}

.deleteButton {
    position: absolute;
    right: 10px; /* Odsunięcie od prawej krawędzi */
}

.editButton:hover, .deleteButton:hover {
    color: red;
}

/* Upewnienie się, że kolumny są wyśrodkowane */
.title, .device-info, .title-phone, .device-info-phone {
    display: flex; /* Dodane, aby umożliwić łatwe pozycjonowanie elementów wewnątrz */
    align-items: center; /* Dodane, aby wyrównać elementy wewnątrz w pionie */
    justify-content: center;
}

.device-info-phone{
    position: relative;
}

/* Styl dla przycisku "eye" */
.eye-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
    position: absolute;
    right: 0; /* Dodane do prawidłowego umiejscowienia ikony */
    top: 50%; /* Dodane do prawidłowego umiejscowienia ikony */
    transform: translateY(-50%); /* Centrowanie w pionie */
}

.eye-icon:hover {
    color: red;
}

.add-modal {
    display: none; /* Ukryj domyślnie */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Czarny z przezroczystością */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 2em;
    border: 1px solid #888;
    width: 20vw;
    border-radius: 10px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.device-form .form-group {
    margin-bottom: 15px;
}

.device-form .form-group label {
    display: block;
    margin-bottom: 5px;
}

.device-form .form-group input,
.device-form .form-group select {
    width: 100%;
    box-sizing: border-box; /* Upewnij się, że padding i border są wliczane w szerokość */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2vw;
}

.form-buttons .confirm-button, .form-buttons .cancel-button {
    display: inline-block; /* Wyświetl przyciski w jednej linii */
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #4CAF50; /* Kolor potwierdzenia (zielony) */
    color: white;
    border: none;
}

.cancel-button {
    background-color: #f44336; /* Kolor anulowania (czerwony) */
    color: white;
    border: none;
}

.confirm-button:hover, .cancel-button:hover {
    opacity: 0.8;
}

/* Styl dla okienka modalnego usuwania */
.delete-modal {
    display: none; /* Ukryj domyślnie */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Czarny z przezroczystością */
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.confirm-button, .cancel-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-button {
    background-color: #d9534f; /* Kolor potwierdzenia (czerwony) */
    color: white;
    border: none;
}

.cancel-button {
    background-color: #5bc0de; /* Kolor anulowania (niebieski) */
    color: white;
    border: none;
}

.confirm-button:hover, .cancel-button:hover {
    opacity: 0.8;
}

.error-message {
    color: red;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}

.device-list {
    max-height: 63vh; /* Maksymalna wysokość listy urządzeń */
    overflow-y: auto; /* Dodanie paska przewijania w pionie */
}

/* Ukrycie paska przewijania */
.device-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.device-info a {
    color: black; /* Kolor linku */
    text-decoration: none; /* Brak podkreślenia linku */
}

.device-info a:hover {
    color: grey; /* Kolor linku po najechaniu */
}

@media only screen and (max-width: 820px) {
    .container-snmp-devices {
        width: 90%; /* Szerokość kontenera dostosowana do mniejszych ekranów */
        font-size: small;
    }

    .device-info-phone, .title-phone {
        display: none;
    }

    .action-button {
        padding: 12px 24px; /* Zwiększona wielkość przycisku */
        font-size: 20px; /* Zmniejszona wielkość tekstu przycisku */
    }

    .title-phone, .title, .device-info-phone, .device-info {
        width: auto; /* Ustawienie szerokości na automatyczną dla wersji mobilnej */
        text-align: center; /* Wyśrodkowanie tekstu */
        word-wrap: break-word; /* Dodanie wrapa dla długiego tekstu */
    }

    .device-info-phone, .device-info {
        flex: 1; /* Ustawienie flex na 1, aby kolumny zajmowały dostępne miejsce */
    }

    .table-header {
        padding-right: 8em;
    }

    .device-form {
        width: 60%;
    }

    .device-form button {
        width: 80%;
        margin-left: 6vw;
    }

   
    .device-list {
        max-height: 55vh; /* Maksymalna wysokość listy urządzeń */
        overflow-y: auto; /* Dodanie paska przewijania w pionie */
        width: 90.6vw;
    }

    .add-modal{
        width: 80vw;
    }

    .modal-content{
        
        font-size: 20px;
    }

    .table-header, .device-item {
        display: grid;
        grid-template-columns: 30% 20% 30%; /* Definiuje szerokości kolumn */
        gap: 5px;
        align-items: center;
        padding: 8px;
    }

}
