body {
    background-color: #333;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 10vh auto;
}

.user-management {
    margin-top: 20px;
}

.action-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px; /* Dodany większy odstęp */
}

.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    background-color: white; /* Dodane białe tło */
    border-radius: 15px; /* Dodane zaokrąglenie */
}

/* Dodatkowe style dla linii tytułów kolumn */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #555; /* Kolor tła */
    border-radius: 15px; /* Zaokrąglenie */
    margin-bottom: 10px; /* Dodany odstęp */
}

.title {
    flex: 1;
    color: white; /* Kolor tekstu */
}

/* Dodatkowe style dla użytkowników */
.user-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white; /* Białe tło */
    border-radius: 15px; /* Zaokrąglenie */
    margin-bottom: 10px; /* Dodany odstęp */
}

.user-info {
    flex: 1;
    color: #555; /* Szary kolor tekstu */
}

.editButton,
.deleteButton,
.eye-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
    color: #555; /* Szary kolor */
}

.editButton:hover,
.deleteButton:hover,
.eye-icon:hover {
    color: red;
}