/* Styl dla kontenera tabeli, aby zajmował 90% szerokości strony i był wyśrodkowany */
.container-users {
    width: 90%;
    margin: 10vh auto;
}

.user-management {
    margin-top: 20px;
}

.action-button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 8px 16px;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 20px; /* Dodany większy odstęp */
    border-radius: 10px; /* Zaokrąglone rogi */
}

.action-button:hover {
    background-color: rgb(161, 161, 161); /* Kolor podświetlenia po najechaniu */
}

/* Ustawienie grid layout dla nagłówka tabeli i elementów urządzeń oraz użytkowników */
.table-header, .user-item {
    display: grid;
    grid-template-columns: 20% 15% 10% 15% 20% 10% 10%; /* Definiuje szerokości kolumn */
    gap: 80px;
    align-items: center;
    padding: 8px;
}

/* Styl dla nagłówka tabeli */
.table-header {
    background-color: #555;
    border-radius: 15px;
    margin-bottom: 1.5em;
    font-weight: bold;
    color: white;
}

/* Styl dla elementów użytkowników */
.user-item {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-radius: 15px;
    font-weight: bold;
    padding: 8px;
    position: relative;
}

/* Styl dla przycisków akcji */
.editButton, .deleteButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.editButton {
    position: absolute;
    right: 40px; /* Odsunięcie od prawej krawędzi */
}

.deleteButton {
    position: absolute;
    right: 10px; /* Odsunięcie od prawej krawędzi */
}

.editButton:hover, .deleteButton:hover {
    color: red;
}

/* Upewnienie się, że kolumny są wyśrodkowane */
.title, .title-phone, .user-info, .user-info-phone {
    text-align: center;
}

/* Styl dla przycisku "eye" */
.eye-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #555; /* Szary kolor */
}

.eye-icon:hover {
    color: red;
}

@media only screen and (max-width: 820px) {
    .container-users {
        width: 90%; /* Szerokość kontenera dostosowana do mniejszych ekranów */
        font-size: small;
    }

    .user-info-phone {
        display: none;
    }

    .action-button {
        padding: 12px 24px; /* Zwiększona wielkość przycisku */
        font-size: 20px; /* Zmniejszona wielkość tekstu przycisku */
    }

    .title-phone, .title, .user-info-phone, .user-info {
        width: auto; /* Ustawienie szerokości na automatyczną dla wersji mobilnej */
        text-align: center; /* Wyśrodkowanie tekstu */
        word-wrap: break-word; /* Dodanie wrapa dla długiego tekstu */
    }

    .user-info-phone, .user-info {
        flex: 1; /* Ustawienie flex na 1, aby kolumny zajmowały dostępne miejsce */
    }

    .table-header {
        padding-right: 8em;
    }
}
